@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   } 
.conteiner{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    
    

}
.titulo{
    width: 30%;
    font-size: 2rem;
    text-align: center;
}
nav{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
  
   
}
.menu{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
   
}
.itemDaLista{
    width: 20%;
   text-align: center;
   font-size: 1rem;
   
}
.itemDaLista:hover{
    font-weight: bold;
    cursor: pointer;
}
.menuMoble{
    display:none;
}
@media(min-width:201px) and (max-width:500px)
{
    nav{
        display: none;

    }
    .menuMoble{
       width: 30%;
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;


    }
    .titulo{
        font-size: 1rem;
       
    }
}

.orangeBlue{
    height: 70vh;
    background-image: url('./imagens/larannja.png.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.tituloDaSecao{
    width: 60%;
    font-size:4vw;
    font-weight: bold;
    color: white;
    text-align: right;

}
.paragrafoDaSecao{
   height: 10vh;
    font-size:2vw;
    font-weight: lighter;
    color: white;
    padding-left: 4.5vw;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

}
.imgBox{
    width: 100%;
   padding-left:5rem;
}
img{
    width: 20vw;
    margin: 0.4rem;
}
@media(min-width:201px) and (max-width:500px)
{
    main{
        display:flex;
        flex-direction:column;
    }
    .orangeBlue{
        width: 100%;
        height: 90vh;
        background-image: url('./imagens/larannja.png.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction:column;
        justify-content: center;
        
       
    }
    .tituloDaSecao{
        width: 57%;
        font-size:2rem;
        font-weight: bold;
        color: white;
        overflow-wrap: break-word;
        padding-left: 4.5vw;

    
    }
    .paragrafoDaSecao{
        font-size:1rem;
        font-weight: lighter;
        color: white;
        padding-left: 4.5vw;
        text-transform: uppercase;
    
    }
    .imgBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 5rem;
    }
    img{
        width:70vw;

    }
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
  
}
.footerSecao{
    width: 50%;
    height: 20vh;
    display: flex;
  align-items: center;

}
.imgFooter{
    height: 20vh;
    display: flex;
    align-items: flex-start;
   
}
.footerTitulo{
    font-size: 1.3rem;
    display: flex;
   margin-left: 10vw;

}
.footerParagafo{
    width: 30vw;
    font-size: 0.7rem;
    display: flex;
  margin-right: 20vw;

}
@media(min-width:201px) and (max-width:500px)
{
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      
    }
    .footerSecao{
        width: 50%;
        height: 20vh;
        display: flex;
      align-items: center;
      flex-direction: column;
    
    }
    .imgFooter{
        width: 40vw;
        display: flex;
        justify-content: center;
       
    }
    .footerTitulo{
        width: 30vw;
        font-size: 0.7rem;
        display: flex;
        justify-content: flex-start;
       margin-left: 10vw;
    
    }
    .footerParagafo{
        width: 30vw;
        font-size: 0.5rem;
        display: flex;
      margin-right: 20vw;
    
    }
}
